@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: rebeccapurple;
  color: white;
  font-family: poppins;
}

form {
  margin-top: 10%;
  margin-left: 25%;
}

form .dob,
form .nameInput {
  margin-left: 2%;
}

label {
  padding-left: 2%;
}

.primary-btn {
  margin-left: 2%;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
  background-color: peachpuff;
  border: none;
  transition: ease-in;
}
.primary-btn:hover {
  background-color: rgb(207, 140, 82);
  color: white;
  padding: 8px 15px 8px 15px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.danger {
  background-color: red;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.danger:hover {
  background-color: red;
}

.age {
  margin-left: 20px;
}
